* {
  margin-top: 0;
  box-sizing: border-box;
}

.phoneItem{
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%),
     0 2px 6px 2px rgb(60 64 67 / 15%);
    font-size: 12px;
    color: gray;
}
.phoneItem #name{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    margin: 8px 0px;
}
.phoneItem #price{
    font-size: 28px;
    font-weight: 500;
    color: red;
    margin: 8px 0px;
}
.phoneItem img{
    text-align: center;
}
.cartItem{
    border-bottom: 1px gray solid;
}
